* {
	/* Set border inside element */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}

.slider {
	position: relative;
	float: left;
	overflow: hidden;

	/* Disable touch behaviors, like pan and zoom */
	-ms-touch-action: none;
}

.slider-button,
.slider-mapper,
.slider-border,
.slider-border-step,
.slider-overlay-left,
.slider-overlay-right,
.slider-wrapper-left,
.slider-wrapper-right {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}

.slider-border {
	border-color: rgba(0,0,0,0.2);
	border-style: solid;
}

.slider-overlay-left,
.slider-overlay-right {
	border-color: #666;
	border-style: solid;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	    filter: alpha(opacity=40);
	-khtml-opacity: 0.4;
	  -moz-opacity: 0.4;
	       opacity: 0.4;
}

.slider-button {
	margin-left: auto;
	margin-right: auto;

	background-image: url('slider_button.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.slider-step {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	height: 100%;

	border-top-style: solid;
	border-color: rgba(0,0,0,0.2);
}